@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
    background-color: #18191a;
}

html {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

nav.navbar {
    background-color: rgba(27, 18, 18, 0.2);
}

div.dropdown-menu {
    right: 0;
    left: unset;
}

a div {
    text-decoration: none;
    color: black;
}

div.judul-barang {
    height: 40px;
    background-color: gray;
    color: white;
}

.col-sm-9 {
    flex: 0 0 80%;
    max-width: 80%;
}

div.kotak-hijau {
    border-bottom: 1px solid grey;
    background-color: green;
    height: 40px;
    width: 100%;
}

footer {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background-color: #333;
    padding-top: 20px;
}

a.nav-link h5 {
    text-shadow: 2px 1px black;
}

footer p {
    font-size: 1rem;
    color: #aaa;
}

div.container-fluid {
    width: 97%;
}

.navbar-brand img {
    max-width: 100px;
    max-height: 100px;
}

header {
    min-height: 500px;
}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    margin-bottom: 150px;
    text-shadow: 2px 1px black;
}

div#carouselExampleSlidesOnly {
    position: absolute;
    z-index: -999;
}

div#carouselExampleSlidesOnly img {
    height: 500px;
    width: 1278.52px;
}

section {
    min-height: 500px;
    background-color: white;
    padding: 20px 15px 30px 15px; 
}

hr {
	width: 25%;
	border-top: 3px solid #999;
}

aside.right {
    min-height: 500px;
    background-image: url('../img/aside.JPG');
    background-size: cover;
}

section#lokasi {
    padding-bottom: 100px;
}

section#about div.content {
    padding: 20px;
    margin-top: 10px;
}

section#about div.content p {
    margin-top: 30px;
    text-align: justify;
}

section#about div.content img {
    width: 200px;
    height: 150px;
    padding-right: 10px;
    float: left;
}

form,.card {
    margin: 0 80px;
}

section#about div.content h2.judul,section#about div.content hr {
    transform: translate(0px,220px);
}

h2,hr {
    transition: 0.5s;
}

section#about div.content hr.muncul,h2.muncul {
    transform: translate(0px,0px);
}
.pAtas {
	opacity: 0;
	transform: translate(0, -50px);
	transition: 1s;
}

.pAtas.pMuncul {
	opacity: 1;
	transform: translate(0,0);
}

figure {
    min-height: 100px;
    background-image: url('../img/p2.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 30px 20px 0px;
}

figure h3 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 30px;
}